<div class="t-login-bankia">
	<!-- Logo Section -->
	<div class="t-login-bankia__logo">
		<h1 class="t-login-bankia__title">WIZI</h1>
		<div class="t-login-bankia__brand">
			<img class="m-screen__image-by" src="/images/by.svg" alt="" />
			<img src="/images/pragma.svg" alt="" />
		</div>
	</div>

	<!-- Form Section -->
	<div class="t-login-bankia__content">
		<form [formGroup]="loginForm" class="t-login-bankia__form">
			<div class="form-group">
				<label for="usuario">{{ 'LABEL.USERNAME' | translate }}</label>
				<input
					id="usuario"
					formControlName="usuario"
					type="text"
					[placeholder]="'PLACEHOLDER.USERNAME' | translate"
				/>
			</div>

			<div class="form-group">
				<label for="password">{{ 'LABEL.PASSWORD' | translate }}</label>
				<div class="password-wrapper">
					<input
						id="password"
						formControlName="password"
						type="password"
						[placeholder]="'PLACEHOLDER.PASSWORD' | translate"
					/>
					<span
						class="toggle-password"
						(click)="togglePasswordVisibility()"
						(keydown)="togglePasswordVisibility()"
						tabindex="0"
					>
						<i class="eye-icon"></i>
					</span>
				</div>
			</div>

			<div class="t-login-bankia__button">
				<button type="button" [disabled]="loginForm.invalid" (click)="onSubmit()">
					{{ 'BUTTON.CONTINUE' | translate }}
				</button>
			</div>
		</form>
	</div>
</div>
