@import 'main';
.footer {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	background-color: $background-white;
	gap: 2rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
	justify-items: center;
}
