<div class="home-olimpica">
	<app-header-olimpica></app-header-olimpica>
	<m-navbar-olimpica></m-navbar-olimpica>
	<div class="home-olimpica__main">
		<a-card-location class="home-olimpica__location"></a-card-location>
		<div class="home-olimpica__kitchen-desktop">
			<a-logo [src]="'images/olimpica/banner-kitchen.webp'"></a-logo>
		</div>
		<div class="home-olimpica__kitchen-mobile">
			<a-logo [src]="'images/olimpica/kitchen-mobile.webp'"></a-logo>
		</div>
		<div>
			<o-carousel-olimpica></o-carousel-olimpica>
		</div>
	</div>
</div>
