@import 'main';
.home {
	height: 110vh;
	padding: 1.5rem;

	&__container {
		display: grid;
	}

	&__language-switcher {
		margin-top: 1.5rem;
		justify-self: end;
		margin-right: 2rem;
		margin-bottom: 1rem;
	}

	&__footer {
		position: fixed;
		top: 92%;
	}

	@include from($laptop) {
		max-width: 50%;
		margin: auto;
		height: 120vh;

		&__footer {
			right: 17%;
		}
	}

	@include from($laptop-large) {
		max-width: 35%;

		&__footer {
			right: 30%;
			top: 91%;
		}
	}
}
