<header class="header-olimpica">
	<div class="header-olimpica__logo">Super Retail</div>
	<div class="header-olimpica__shipping">
		<a-logo [src]="'icons/olimpica/truck.svg'"></a-logo>
		<div>
			<p>Selecciona tu</p>
			<p>Método de Envío</p>
		</div>
	</div>
	<div class="header-olimpica__search">
		<a-search-text></a-search-text>
	</div>
	<div class="header-olimpica__login">
		<div class="header-olimpica__login-text">
			Iniciar Sesión
			<div class="header-olimpica__separator">
				<a-separator></a-separator>
			</div>
		</div>
		<div class="header-olimpica__heart">
			<a-logo [src]="'icons/olimpica/heart-white.svg'"></a-logo>
		</div>
		<div class="header-olimpica__user">
			<a-logo [src]="'icons/olimpica/icon-user.svg'"></a-logo>
		</div>
		<div class="header-olimpica__shopping">
			<a-logo [src]="'icons/olimpica/shopping-cart.svg'"></a-logo>
		</div>
	</div>
</header>
