@import 'main';

.m-screen {
	position: relative;
	height: 100vh;
	width: 100%;
	overflow: hidden;
	background: linear-gradient(135deg, #200020 0%, #6f2fd3 54.97%);
	display: flex;
	flex-direction: column;

	&__container {
		z-index: 5;
		display: grid;
		place-content: center;
		height: 100%;
	}

	&__title {
		font-family: 'Poppins', sans-serif;
		font-weight: 600;
		font-size: 80px;
		line-height: 1em;
		color: $text-white;
		text-align: center;
		width: 173px;
		height: 80px;
		margin-bottom: 0;
	}

	&__subtitle {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 6px;
		width: 152px;
		height: 40px;
		margin-top: -2px;
		margin-left: 11px;
	}

	&__pragma-logo {
		width: 126px;
		height: 36px;
		object-fit: contain;
	}
}
